<main id="main">
<section class="inner-page">
      <div class="container">



<h1> Welcome <%= @user.username%>! </h1>
<hr> 
Age: <%= @user.age %><br>
Email Address: <%= @user.email %>
Password: ********
<hr>
<% @orders.each do |order|%>
    <% order.shopping_cart.selected_items.each do |s_item| %>
        <%= "#{s_item.item.name} - Qty: #{s_item.quantity}" %><br>
    <% end %>
<% end %>
<hr>

<!--
<%= link_to "Back to User Index", users_path %>
<br>
-->
<%= link_to 'Edit My Profile', edit_user_path %>
<br>




</div>
</section>

</main>
