<h1> Welcome <%= @user.username%>! </h1>
<hr> 
<% @order.shopping_cart.selected_items.each do |order|%>
<% byebug %>
    <img src=<%=Item.all.find(order.item_id).image_url%> style=height:100px;">
    <%= Item.all.find(order.item_id).name %>
    <%= Item.all.find(order.item_id).price %>
<% end %>
<hr>

<!--
<%= link_to "Back to User Index", users_path %>
<br>
-->
<%= link_to 'Edit My Profile', edit_user_path %>
<br>
<%= link_to 'Home', root_path %>
