<h1> <%=@user.username%> </h1>
<hr> 
Age: <%= @user.age %><br>
Email Address: <%= @user.email %>
Password: ********
<hr>


<%= link_to "Back to User Index", users_path %>
<br>
<%= link_to 'Edit My Profile', edit_user_path %>
