<h1> Welcome <%= @user.username%>! </h1>
<hr> 
Age: <%= @user.age %><br>
Email Address: <%= @user.email %>
Password: ********
<hr>
<% @order.shopping_cart.selected_items.each do |order|%>

    <%= Item.all.find(order.item_id).name %>
<% end %>
<hr>

<!--
<%= link_to "Back to User Index", users_path %>
<br>
-->
<%= link_to 'Edit My Profile', edit_user_path %>
<br>
<%= link_to 'Home', root_path %>
