<h1> All Items </h1>
<% if @cart_count %>
    <%= link_to "#{@cart_count} items in your cart", shopping_cart_path(session[:shopping_cart_id]) %><br>
<% end %>
<hr>
<% @items.each do |item| %>
<div class="card">
  <img src="<%=item.image_url%>" alt="<%item.name%>" style="height:50px">
  <div class="container">
  <%= link_to item.name, item_path(item) %> <br><br>
  </div>
</div>
<% end %>
<br>
<%= link_to "New Item", new_item_path %>
<hr>
<%= link_to "Category Index", categories_path %><br>

