<main id="main">
<section class="inner-page">
      <div class="container">

<h1> <%=@item.name%> </h1>
<hr> 

<img src=<%=@item.image_url%> alt=<%=@item.name%> style=height:200px;"><br><br>
Category: <%= @item.category.name %><br><br>
Price: <%= number_to_currency(@item.price) %><br><br>
Description: <%= @item.des %><br><br>
<%= form_for @item, :url => selected_items_path, :html => { :method => :post } do |f|%>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.number_field :quantity, value: 1, class: "number-tag", min: 1 %>
    <%= f.submit 'Add to Cart' %>
<% end %>

<br><br><br>
<br><br><br>
<h4>Review</h4>

<% if flash[:errors] %>
    <% flash[:errors].keys.each do |key| %>
        <h4 style="color:red;"> error:<%= "#{key} #{flash[:errors][key][0]}" %></h4>
    <% end %>
<% end %>

<%= form_for @comment, :url => { :controller => :comments, :action => "create" }, :html => {:method => :post} do |f| %>
	<%= f.label 'Title:' %>
	<%= f.text_field :title %>
  <br>
  <%= f.label 'Stars:' %>
  <%= f.number_field :rating, value: 1, class: "number-tag", min: 1, max: 5 %>
  <br>
	<%= f.text_field :content, placeholder: 'Tell Us Why You Like/Dislike It!', size: 50 %>
  <br>
	<%= f.submit 'Submit'%>
<% end %>

<hr>


<%= hidden_field_tag :id, value: @item.id %>

<%= link_to "Add Comment/Review", new_comment_path %>
>>>>>>> 94c581d986a8f21c3afbcd61ecf83cae6bdfff23
