<main id="main">
<section class="inner-page">
      <div class="container">

<h1> <%=@item.name%> </h1>
<hr> 

<img src=<%=@item.image_url%> alt=<%=@item.name%> style=height:200px;"><br><br>
Category: <%= @item.category.name %><br><br>
Price: <%= number_to_currency(@item.price) %><br><br>
Description: <%= @item.des %><br><br>
<%= form_for @item, :url => selected_items_path, :html => { :method => :post } do |f|%>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.number_field :quantity, value: 1, class: "number-tag", min: 1 %>
    <%= f.submit 'Add to Cart' %>
<% end %>

<br><br><br>
<h3>Comments: </h3>
  <% @item_comments.each do |comment| %>
    <h4><%= comment.title %> </h4
    Rating: <%= comment.rating %>
    <%= comment.content %>
  <% end %>
<br><br><br>
<h4>Review</h4>
<%= form_for @comment, :url => { action: 'create'}, :html => { :method => :post } do |f|%>
  Title: <%= f.text_field :title %>
  <br>
  Stars: <%= f.number_field :rating, value: 1, class: "number-tag", min: 1, max: 5 %>
  <br>
  <%= f.text_field :content, placeholder: 'Write Your Review Here!', size: 50 %>
  <%= f.hidden_field :item_id, value: @comment.item_id %>
  <%= f.hidden_field :user_id, value: session[:user_id] %>
  <br>
  <%= f.submit 'Submit' %>
<% end %>
<hr>


